<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction.dao.AuctionDAO">
	<insert id="insertAuctionStart" useGeneratedKeys="true" keyProperty="auction.au_num">
		insert into auction(au_name, au_start_price) 
		values
			(#{auction.au_name}, #{auction.au_start_price})
	</insert>
	<insert id="insertBid">
		insert into bid(bi_au_num, bi_me_id, bi_price) values(#{bi_au_num}, #{bi_me_id}, #{bi_price})
	</insert>
	<update id="updateAuction">
		update auction 
		set
			au_winning_bid = #{wb.bi_price},
			au_me_id = #{wb.bi_me_id}
		where
			au_num = #{au_num}
	</update>
	<select id="selectAuctionList" resultType="AuctionVO">
		select * from auction
	</select>
	<select id="selectSearchAuctionList" resultType="AuctionVO">
		select * from auction
		where
			au_date like concat('%',#{search},'%') 
			or
			au_name like concat('%',#{search},'%') 
			or
			au_me_id like concat('%',#{search},'%')
	</select>
<!--  		
	<resultMap id="userResultMap" type="com.example.User">
    	<id column="user_id" property="id" />
    	<result column="user_name" property="name" />
    	<association property="address" javaType="com.example.Address">
        <id column="address_id" property="addressId" />
        <result column="street" property="street" />
    	</association>
	</resultMap>-->
	<resultMap id="BidResultMap" type="BidVO">
    	<id column="bi_num" property="bi_num" />
    	<result column="bi_price" property="bi_price" />
    	<result column="bi_me_id" property="bi_me_id" />
    	<collection property="auction" javaType="AuctionVO">
        <id column="au_num" property="au_num" />
        <result column="au_date" property="au_date" />
        <result column="au_name" property="au_name" />
    	</collection>
	</resultMap>

	<select id="getBidWithAuction" resultMap="BidResultMap">
	    SELECT a.au_date, a.au_name, b.bi_price, b.bi_me_id 
	    FROM bid b
	    INNER JOIN auction a ON b.bi_au_num = a.au_num
	    WHERE 
			a.au_date like concat('%',#{search},'%') or
			a.au_name like concat('%',#{search},'%') or
			b.bi_me_id like concat('%',#{search},'%')
	</select>	
	<select id="getBidWithAuctionById" resultMap="BidResultMap">
		SELECT a.au_num, a.au_date, a.au_name, b.bi_price, b.bi_me_id 
	    FROM (select * from bid where bi_me_id = #{id} ) b
	    INNER JOIN auction a ON b.bi_au_num = a.au_num
	    WHERE 
	   		a.au_date like concat('%',#{search},'%') or
			a.au_name like concat('%',#{search},'%')
			
	</select>
	
</mapper>


