<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auction.dao.MemberDao">
	<select id="selectMember" resultType="MemberVO">
	select * from member where me_id = #{id}
	</select>
	<insert id="insertMember">
	INSERT INTO MEMBER(me_id, me_password, me_name, me_address, me_contact) 
		VALUES(#{id},#{pw},#{name},#{address},#{contact});
	</insert>

</mapper>